<h1> Products Display Page </h1>
<ul>
<% @products.each do |product| %>
  <li><strong>Name:</strong> <%= product.name %></li>
  <li><strong>Description:</strong> <%= product.description %></li><br>
<% end %>
</ul>
